p {
  font-size: 16px;
  font-family: "Martel", serif;
  line-height: 1.5rem;
}

img {
  width: auto;
}

.my-image-style {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.portfolio-image {
  width: 30%;
  height: auto;
}

.card-title {
  border-bottom: 2px solid rgba(210, 204, 218, 0.514);
  font-family: "Martel", serif;
  font-size: 25px;
  color: rgb(46, 40, 40);
}

.card {
  opacity: 90%;
  text-align: center;
  padding: 20px;
  margin: 40px;
  font-family: "Martel", serif;
}

#homeCards {
  opacity: 90%;
  padding-top: 30px;
}

.aboutMeCard {
  padding-top: 40px;
}

textarea {
  width: 100% !important;
  height: 150px !important;
}

.card-img-overlay {
  display: flex;
}

.text-overlay {
  color: beige;
  background-color: teal;
  text-align: center;
  font-size: 15px;
  font-family: "Martel", serif;
  padding: 1em;
}

#copyright {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 15px;
  color: rgba(215, 203, 223, 0.863);
}

#copyrightHome {
  text-align: center;
  padding-top: 85px;
  color: rgba(215, 203, 223, 0.863);
}

#titleHome {
  margin-top: 150px;
}

#homeName {
  font-size: 60px;
  font-family: "Martel", serif;
  text-align: center;
  color: rgba(230, 223, 235, 0.925);
}

#homeTitle {
  font-size: 30px;
  font-family: "Martel", serif;
  text-align: center;
  color: rgba(215, 203, 223, 0.863);
}

@media only screen and (max-width: 600px) {
  #titleHome {
    margin-top: 50px;
    text-align: center;
  }
  #copyrightHome {
    padding-top: 600px;
    text-align: center;
    padding-top: 90px;
  }

  #homeName {
    font-size: 30px;
  }

  #homeTitle {
    font-size: 25px;
  }

  #homeCards {
    padding-top: unset;
  }
}

body {
  background-image: url(../images/desktop2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.centered {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolioCard {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.grad {
  font-weight: 800;
}

#contactCard {
  display: flex;
  justify-content: center;
}

.contact-me {
  opacity: unset !important;
}

a:link {
  color: rgba(77, 96, 206, 0.787);
  font-family: "Martel", serif;
}

a:visited {
  color: rgb(0, 0, 0);
  font-family: "Martel", serif;
}
