p {
  font-size: 16px;
  font-family: "Martel", serif;
  line-height: 1.5rem;
}

.navbar {
  font-size: 20px;
}

img {
  width: auto;
}

.my-image-style {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.portfolio-image {
  width: 30%;
  height: auto;
}

.card-title {
  border-bottom: 2px solid rgba(210, 204, 218, 0.514);
  font-family: "Martel", serif;
  font-size: 25px;
  color: rgb(46, 40, 40);
}

.card-body {
  flex-direction: column;
  height: 100%;
}

.card {
  opacity: 80%;
  text-align: center;
  padding: 20px;
  margin: 40px;
  font-family: "Martel", serif;
}

.pCards {
  opacity: 80%;
  background-color: rgb(233, 238, 241) !important;
}

.hCards {
  font-size: 25px !important;
}

.hireMe {
  font-size: 20px !important;
  padding: unset;
  opacity: 70%;
}

.hireMeText {
  margin: unset;
  padding: unset;
}
/* hover effects */

.pCards:hover {
  opacity: 100%;
}

.hCards:hover {
  transition: 02;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.3s ease;
  opacity: 100%;
}

.hireMe:hover {
  transition: 02;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.techStack:hover {
  transition: all 0.3s ease;
}

.techStack {
  line-height: 200%;
  color: rgb(0, 0, 0);
}

.contactCard:hover {
  transition: 02;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 0.3s ease;
  opacity: 100%;
}

.aboutButton:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* end */

.aboutButton {
  margin-bottom: 20px;
  opacity: 80%;
}

.divider {
  width: 20px;
  height: auto;
  display: inline-block;
}

.contact-me {
  opacity: unset;
  background-color: rgb(233, 238, 241) !important;
}

.aboutMeCard {
  padding-top: 40px;
}

.projectTitle {
  text-align: center;
  font-size: 45px;
  font-family: "Martel", serif;
  padding-top: 30px;
  color: rgba(37, 37, 37, 0.774);
}

#homeCards {
  opacity: 90%;
  padding-top: 100px;
}

textarea {
  width: 100% !important;
  height: 150px !important;
}

.card-img-overlay {
  display: flex;
}

.text-overlay {
  color: beige;
  background-color: teal;
  text-align: center;
  font-size: 15px;
  font-family: "Martel", serif;
  padding: 1em;
}

.titleHome {
  margin-top: 150px;
}

.homeName {
  font-size: 80px;
  font-family: "Martel", serif;
  text-align: center;
  color: rgba(230, 223, 235, 0.925);
  opacity: 0.5s ease;
}

.projectTitle {
  font-size: 50px;
  font-family: "Martel", serif;
  text-align: center;
  color: rgba(230, 223, 235, 0.925);
  opacity: 0.5s ease;
  margin-top: 25px;
}

.homeTitle {
  font-size: 30px;
  font-family: "Martel", serif;
  text-align: center;
  color: rgba(215, 203, 223, 0.863);
}

ul {
  list-style: none;
  list-style-type: none;
  padding: unset;
}

/* Mobile size */
@media only screen and (max-width: 600px) {
  .titleHome {
    margin-top: 50px;
    text-align: center;
  }

  .navbar {
    font-size: 15px;
  }

  .homeName {
    font-size: 30px;
  }

  .homeTitle {
    font-size: 25px;
  }

  #homeCards {
    padding-top: unset;
  }

  .hCards {
    font-size: 18px !important;
    opacity: 100%;
  }

  .hireMe {
    font-size: 18px !important;
    opacity: 100%;
  }

  .contactCard {
    padding-bottom: unset;
  }

  .contact-me {
    width: 15rem !important;
  }

  .aboutText {
    font-size: 15px;
  }

  .aboutMeCard {
    margin: unset;
    padding: unset;
  }

  .techStack {
    line-height: normal;
  }
}
/* end */

body {
  background-image: url(../images/desktop2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.projects {
  opacity: 70%;
  border-radius: 15px;
  font-size: 25px;
}

.centered {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolioCard {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.grad {
  font-weight: 800;
}

#contactCard {
  display: flex;
  justify-content: center;
}

a:link {
  color: rgba(77, 96, 206, 0.787);
  font-family: "Martel", serif;
}

a:visited {
  color: rgb(0, 0, 0);
  font-family: "Martel", serif;
}

/* Fade effects */
.slow {
  animation: slow 0.5s ease forwards;
}

@keyframes slow {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
/* end */

/* Footer */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.685);
  padding-top: 20px;
}

/* end */
